core
*.lock
.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
*.log
*.dump
.rebar
_rel
_deps
_plugins
_tdeps
logs
_build

deps/
deps_source/_build
deps_source/_build/*
deps_source/compile_commands.json
