%% -*- mode: erlang -*-
{deps, [
        {getopt, 
         {git, "https://github.com/roowe/getopt", 
          {branch, "master"}}},
        {reloader, 
         {git, "https://github.com/roowe/reloader", 
          {branch, "master"}}},
        {lager, 
         {git, "https://github.com/basho/lager",
          {branch, "master"}}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy", 
          {branch, "master"}}},
        {bbmustache, 
         {git, "git://github.com/soranoba/bbmustache.git", {branch, "master"}}},
        {cowboy,
         {git, "git://github.com/ninenines/cowboy.git", {branch, "master"}}},
        {ibrowse, 
         {git, "https://github.com/cmullaparthi/ibrowse",
          {branch, "master"}}}
       ]}.


{overrides,
 [{override, jiffy, [
                     {plugins, [pc]},
                     {artifacts, ["priv/jiffy.so"]},
                     {provider_hooks, [
                                       {post,
                                        [
                                         {compile, {pc, compile}},
                                         {clean, {pc, clean}}
                                        ]
                                       }]
                     }
                    ]},
  {override, cowboy, [
                      {deps, [{cowlib,{git,"git://github.com/ninenines/cowlib.git",{branch, "master"}}},
                               {ranch,{git,"git://github.com/ninenines/ranch.git",{branch, "master"}}}]}
                     ]}
 ]}.

{erl_opts,[no_debug_info,
           fail_on_warning]}.

