<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FakeOAuth2Relay</title> 
  </head>
  <body>    
		{{#accInfo}}
			<div style="padding: 5px; width: 350px; height: 64px; margin-bottom: 5px;">
				<img style="display: inline-block; width: 64px; height: 100%; object-fit: cover;" src="{{ headimgurl }}" />
				<button style="vertical-align: top; display: inline-block; margin-left: 5px; width: 250px; height: 100%; cursor: pointer;" onclick="invokeApi2('{{fakeAccId}}')">{{nickname}}</button>
			</div>
		{{/accInfo}}
  </body>
	<script>
		function invokeApi2(fakeAccountId) {
			var oReq = new XMLHttpRequest();
			oReq.addEventListener("load", function() {
				console.dir(this.responseText);
				var resp = JSON.parse(this.responseText); 
				var code = resp.code;
				if (!code) {
					alert("Invalid code returned!");
				} else {
					window.location.assign("{{redirectUri}}" + "?code=" + encodeURIComponent(code) + "&state=" + encodeURIComponent("{{state}}"));
				}
			});
			oReq.open("GET", "/auth/fake/login?fake_acc_id=" + encodeURIComponent(fakeAccountId) + "&appid=" + encodeURIComponent("{{appid}}"));
			oReq.send();
		}

	</script>
</html>
